rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // No Storage feature currently exists in the application.
      allow read, write: if false;
    }
  }
}
